.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weather-box {
    display: flex;
    justify-content: center;
    background: url(../public/hero.jpg);
    background-size: cover;
}

.item {
    background-color: #1692b1f3;
    margin: 2em;
    padding: 2em;
    color: #014546;
    max-width: 30em;
    border-radius: 10px;
}

.weather-column {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.weather-column img {
  object-fit: cover;
  margin-right: 15px;
}

.weather-column p {
  margin-right: 25px;
  color: white;
}
